<!--The content below is only a placeholder and can be replaced.-->
<div class="loading-overlay" *ngIf="loading">
    <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">Top Nigerian Developers</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/devs', 'java']">Java</a>
                    <a class="dropdown-item" [routerLink]="['/devs', 'python']">Python</a>
                    <a class="dropdown-item" [routerLink]="['/devs', 'javascript']">JavaScript</a>
                    <a class="dropdown-item" [routerLink]="['/devs', 'php']">PHP</a>
                    <a class="dropdown-item" [routerLink]="['/devs', 'go']">GO</a>
                    <a class="dropdown-item" [routerLink]="['/devs', 'C++']">C++</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

